.navbar {
  background-color: #1A374D;
}
.navbar-brand {
  font-size: 26px;
  letter-spacing: 1px;
}
.githubIcon {
  font-size: 46px;
  color: white !important;
  float:right;
  margin-right: 10px;
}
.dropDownMenu {
  background-color: #406882;
}
.dropDownItem {
  color: #B1D0E0 !important;
}
.dropDownItem:hover {
  background-color: #B1D0E0;
  color: #406882 !important;
}
