<div class="container">
  <div class="row d-flex justify-content-around align-items-center text-center">
    <div class = "col-4">
      <h3>Check your knowledge and get feedback if you answer wrong.</h3>
      <button class="redirectButton btn btn-outline-primary btn-lg"  [routerLink]="['/partial-test']">Partial Test</button>
    </div>
    <div class = "col-4">
      <h3>If you are ready answer the questions and check your score.</h3>
      <button class="redirectButton btn btn-outline-primary btn-lg" [routerLink]="['/full-test']"> Full Test</button>
    </div>
  </div>
</div>
