<div class="container">
  <h1 id="title">IMPRESSUM</h1>
  <div class="impressumText">
    <br><br>
   <b>AbcXyz GmbH</b>
    <br>
    Biesenkamp 54
    <br>
    59427 Unna
    <br><br>
    <b>Kontakt:</b>
    <br><br>
    Tel.: 0231 / 000 126 00
    <br>
    Fax: 0231 / 000 126 10
    <br>
    info@bitlc.de
    <br><br>

    <b>Handelsregister:</b>  Amtsgericht Hamm, HRB 9036
    <br>
    Umsatzsteuer-ID: DE3112416324
    <br><br>
     <b>Geschäftsführer:</b>  Dipl. Ing. Andreas Tannenbaum
    <br><br>
    <b> Grafik & Design</b>
    <br>
    Bartlomiej Slapinski
    <br><br>
   <b>Konzeption, Umsetzung und Suchmaschinenoptimierung</b>
    <br><br>
    Bartlomiej Slapinski
    <br>
    Gutjahrstr. 76
    <br>
    44287 Dortmund
    <br><br>
    Fon: (02 31) 11 11 11 11
    <br>
    E-Mail: info@bs.de
    <br>
    Web: www.bartslapinski.de
    <br><br>
  </div>
</div>
