<div class="container p-5 ">
  <ul class="list-group">
    <li [class.selected]="question === selectedQuestion"
        class="list-group-item"
        *ngFor="let question of questions"
        (click)="onSelect(question)">{{question.question}}
    </li>
  </ul>

  <div class="row">
    <div *ngIf="selectedQuestion"  class = "col-sm-8 offset-2">
      <h3 >{{selectedQuestion.question}}</h3>

      <div *ngFor="let question of selectedQuestion.answers; let i = index">
        <ul>
          <li  [ngClass]="selectedIndex === null ? 'normal': selectedIndex === i? 'correct': 'incorrect'"
        (click)="onAnswer($event, question, i)"> {{question.option}}</li>
        </ul>
      </div>
      <button  class="btn btn-danger btn-block" (click)="previousQuestion()" >Previous</button>
      <button   class="btn btn-success btn-block" (click)="nextQuestion()" >Next</button>
    </div>
  </div>
</div>

