
.question {
  padding-bottom: 5px;
  padding-top: 5px;
}
.form-check-label {
  margin-left: 5px;
}

ul {
  display: flex;
  width: 80%;
  margin: 0;
  padding: 0;
  flex-flow: column;
}

ul li.normal {
  list-style: none;
  line-height: 2;
  border: 1px solid #cdd2d2;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

li.normal:hover {
  background-color: whitesmoke;
}

li.correct {
  list-style: none;
  line-height: 2;
  border: 1px solid #cdd2d2;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid green;
  background-color: green;
  color: white;
  font-weight: 600;
}

li.incorrect {
  list-style: none;
  line-height: 2;
  border: 1px solid #cdd2d2;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid red;
  background-color: red;
  color: white;
  font-weight: 600;
}

.selected {
  background: thistle !important;

}
