.row {
  height: 100vh;
}
.question {
  padding-bottom: 5px;
  padding-top: 5px;
}
.form-check-label {
  margin-left: 5px;
}

ul {
  margin: 0;
  padding: 0;
  flex-flow: column;
}

ul li.normal {
  list-style: none;
  line-height: 2;
  border: 1px solid #1A374D;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

li.normal:hover {
  background-color: whitesmoke;
}

li.correct {
  list-style: none;
  line-height: 2;
  border: 1px solid #cdd2d2;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #519259;
  background-color: #519259;
  color: white;
  font-weight: 600;
}

li.incorrect {
  list-style: none;
  line-height: 2;
  border: 1px solid #cdd2d2;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #A9333A;
  background-color: #A9333A;
  color: white;
  font-weight: 600;
}

.disabled {
    pointer-events:none;
    opacity:0.6;
    list-style: none;
    line-height: 2;
    border: 1px solid #cdd2d2;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
}
.redirectButton {
  color: #1A374D;
  border-color: #6998AB;
  margin: 5px;
}
.redirectButton:hover {
  background-color: #6998AB;
  color: #406882;
}
.multipleInfo {
  color: #6998AB;
}
.corrAnswer {
  color: green;
}
.wrongAnswer {
  color: red;
}
