.container {
 height: 100vh;
}
.redirectButton {
  color: #1A374D;
  border-color: #6998AB;
  margin: 10px;
}
.redirectButton:hover {
  background-color: #6998AB;
  color: #406882;
}
.brainIcon {
  font-size: 72px;
  margin: 5px;
  color: #1A374D;
}
